.vscode
.rts2*
.*cache*
dist
.docz

node_modules
# Only use lockfile at project root (not example repos)
/examples/**/package-lock.json
/examples/**/cypress/videos
yarn.lock
# docz requires use of yarn
!/docs/yarn.lock
