variables:
  - &module-cache node-cache-{{ checksum "package-lock.json" }}
  - &build-cache build-cache-{{ .Revision }}
  - &package-cache package-cache-{{ .Revision }}
  - &docs-module-cache docs-module-cache-{{ checksum "docs/yarn.lock" }}

jobs:
  install:
    docker:
      - image: node:13
    steps:
      - checkout
      - restore_cache:
          keys:
            - *module-cache
      - run: npm ci
      - save_cache:
          key: *module-cache
          paths:
            - 'node_modules'
  prettier:
    docker:
      - image: node:13
    steps:
      - checkout
      - restore_cache:
          keys:
            - *module-cache
      - run: npm run check-formatting

  lint:
    docker:
      - image: node:13
    steps:
      - checkout
      - restore_cache:
          keys:
            - *module-cache
      - run: npm run lint

  test:
    docker:
      - image: node:13
    steps:
      - checkout
      - restore_cache:
          keys:
            - *module-cache
      - run: npm run test -- --coverage
      - run: npx codecov

  build:
    docker:
      - image: node:13
    steps:
      - checkout
      - restore_cache:
          keys:
            - *module-cache
      - run: npm run build
      - save_cache:
          key: *build-cache
          paths:
            - 'dist'
      - run: npm pack
      - run: mv fielder*.tgz fielder.tgz
      - save_cache:
          key: *package-cache
          paths:
            - 'fielder.tgz'
      - store_artifacts:
          path: fielder.tgz

  e2e (example 1):
    docker:
      - image: cypress/browsers:chrome67
    steps:
      - checkout
      - restore_cache:
          keys:
            - *package-cache
      - run:
          command: npm remove fielder
          working_directory: examples/1-basics
      - run:
          command: npm install
          working_directory: examples/1-basics
      - run:
          command: npm install ../../fielder.tgz
          working_directory: examples/1-basics
      - run:
          command: npm run serve & sleep 10 && npm run test
          working_directory: examples/1-basics

  build docs:
    docker:
      - image: node:13
    steps:
      - checkout
      - restore_cache:
          keys:
            - *docs-module-cache
      - run:
          command: yarn
          working_directory: docs
      - save_cache:
          key: *docs-module-cache
          paths:
            - 'docs/node_modules'
      - run:
          command: yarn run build
          working_directory: docs
      - store_artifacts:
          path: docs/.docz/dist
          destination: static-docs

  deploy:
    docker:
      - image: node:13
    steps:
      - checkout
      - restore_cache:
          keys:
            - *build-cache
      - run:
          command: |
            node -e "process.env.CIRCLE_TAG === \`v\${require('./package.json').version}\` ? process.exit(0) : (console.error('Tag version does not line up with version in package.json') || process.exit(1))"
            npm config set "//registry.npmjs.org/:_authToken" "$npm_TOKEN"
            npm publish --access=public
workflows:
  version: 2
  build_and_test:
    jobs:
      - install:
          filters:
            tags:
              only: /.*/
      - test:
          requires:
            - install
          filters:
            tags:
              only: /.*/
      - build:
          requires:
            - install
          filters:
            tags:
              only: /.*/
      - e2e (example 1):
          requires:
            - build
          filters:
            tags:
              only: /.*/
      - prettier:
          requires:
            - install
          filters:
            tags:
              only: /.*/
      - lint:
          requires:
            - install
          filters:
            tags:
              only: /.*/
      - build docs:
          requires:
            - install
          filters:
            tags:
              only: /.*/
      - deploy:
          context: NPM
          requires:
            - install
            - test
            - build
            - prettier
            - lint
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
