version: 2.1

variables:
  - &module-cache node-cache-v1-{{ checksum "package-lock.json" }}-{{ checksum ".circleci/config.yml" }}
  - &build-cache build-cache-v1-{{ .Revision }}-{{ checksum ".circleci/config.yml" }}
  - &package-cache package-cache-v1-{{ .Revision }}-{{ checksum ".circleci/config.yml" }}

executors:
  node:
    working_directory: /mnt/ramdisk
    docker:
      - image: node:15
  cypress:
    working_directory: /mnt/ramdisk
    docker:
      - image: cypress/browsers:node13.3.0-chrome-79-ff70

jobs:
  install:
    executor: node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *module-cache
      - run: npm ci
      - save_cache:
          key: *module-cache
          paths:
            - 'node_modules'
  prettier:
    executor: node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *module-cache
      - run: npm run check-formatting

  lint:
    executor: node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *module-cache
      - run: npm run lint

  test:
    executor: node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *module-cache
      - run: npm run test -- --coverage
      - run: npx codecov

  build:
    executor: node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *module-cache
      - run: npm run build
      - save_cache:
          key: *build-cache
          paths:
            - 'dist'
      - run: npm pack
      - run: mv fielder*.tgz fielder.tgz
      - save_cache:
          key: *package-cache
          paths:
            - 'fielder.tgz'
      - store_artifacts:
          path: fielder.tgz

  e2e - example 1:
    executor: cypress
    steps:
      - checkout
      - restore_cache:
          keys:
            - *package-cache
      - run:
          command: npm remove fielder
          working_directory: examples/1-basics
      - run:
          command: npm install
          working_directory: examples/1-basics
      - run:
          command: npm install ../../fielder.tgz
          working_directory: examples/1-basics
      - run:
          command: $(npm bin)/tsc --noEmit
          working_directory: examples/1-basics
      - run:
          command: npm run serve & sleep 10 && npm run test
          working_directory: examples/1-basics

  e2e - example 2:
    executor: cypress
    steps:
      - checkout
      - restore_cache:
          keys:
            - *package-cache
      - run:
          command: npm remove fielder
          working_directory: examples/2-multi-step
      - run:
          command: npm install
          working_directory: examples/2-multi-step
      - run:
          command: npm install ../../fielder.tgz
          working_directory: examples/2-multi-step
      - run:
          command: npm run serve & sleep 10 && npm run test
          working_directory: examples/2-multi-step

  e2e - example 3:
    executor: cypress
    steps:
      - checkout
      - restore_cache:
          keys:
            - *package-cache
      - run:
          command: npm remove fielder
          working_directory: examples/3-branching
      - run:
          command: npm install
          working_directory: examples/3-branching
      - run:
          command: npm install ../../fielder.tgz
          working_directory: examples/3-branching
      - run:
          command: npm run serve & sleep 10 && npm run test
          working_directory: examples/3-branching

  deploy:
    executor: node
    steps:
      - checkout
      - restore_cache:
          keys:
            - *build-cache
      - run:
          command: |
            node -e "process.env.CIRCLE_TAG === \`v\${require('./package.json').version}\` ? process.exit(0) : (console.error('Tag version does not line up with version in package.json') || process.exit(1))"
            npm config set "//registry.npmjs.org/:_authToken" "$npm_TOKEN"
            npm publish --access=public

workflows:
  version: 2
  build_and_test:
    jobs:
      - install:
          filters:
            tags:
              only: /.*/
      - test:
          requires:
            - install
          filters:
            tags:
              only: /.*/
      - build:
          requires:
            - install
          filters:
            tags:
              only: /.*/
      - e2e - example 1:
          requires:
            - build
          filters:
            tags:
              only: /.*/
      - e2e - example 2:
          requires:
            - build
          filters:
            tags:
              only: /.*/
      - e2e - example 3:
          requires:
            - build
          filters:
            tags:
              only: /.*/
      - prettier:
          requires:
            - install
          filters:
            tags:
              only: /.*/
      - lint:
          requires:
            - install
          filters:
            tags:
              only: /.*/
      - deploy:
          context: NPM
          requires:
            - install
            - test
            - build
            - prettier
            - lint
            - e2e - example 1
            - e2e - example 2
            - e2e - example 3
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
