@import 'typeface-inter';
@import 'typeface-source-code-pro';
@import 'prism-themes/themes/prism-material-light.css';

html,
body {
  margin: 0;
  font-family: 'Inter', system, sans-serif;
}

pre > code,
code {
  font-family: 'Source Code Pro', monospace;
}
