blockquote > p {
  margin: 0;
}

h1 {
  font-size: 32px;
  margin-top: 40px;
}

h2 {
  margin-top: 30px;
}

pre > .ant-card {
  zoom: 60%;
}

.ant-card-body {
  display: flex !important;
  flex-grow: 1;
}
